*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --top-color: #c09467;
}
.cover{
    background: rgba(100, 100, 0, 0.5) url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
    height: 100vh;
}
.left{
    padding: 13% 5% 0 5% ;
}
.right{
    padding: 13% 15% 0 5%;
}
.heros{
    display: flex;
    color: white;
    font-family: 'Times New Roman';
    padding: 5% 0 0 10%;
    justify-content: end;
}
.names{
    font-size: 9vmin;
    line-height: 0.9em;
}
.menu-list{
    color: white;
    list-style: none;
    border-bottom: 1px solid white;
    padding: 2vmin 0;
    text-align: end;
    font-size: larger;
}
.socialmedia{
    display: flex;
    justify-content: center;
    margin: 10%;
    padding: 10%;
}
.connect{
    margin: 2vmin;
}
.fa{
    font-size: 4vmin;
    color: white;
}
.scrollable-div{
    scroll-behavior: smooth;
    height: 450px;
    overflow-y: scroll;
}